body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: $link;
}

.wide-container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}