$accent:#436372;
$default: #243f4d;
$bgcol: #a3bbc8;
$link: #7b7b7b;

%dmsans-400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
