@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  color: #436372;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 70px;
  font-weight: 500;
  color: #243f4d;
}




@import 'media';