@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {    
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    @extend %rubik-500;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
    margin-left: 12px;
  }
}

.menu {
  &__list {
    display: flex;
    &-item + .menu__list-item {
      margin-left: 35px;
    }
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent; 
  }
}

.user-nav {
  display: flex;
  align-items: center;
  padding: 48px 0 45px;
  &__link-search {
    width: 51px;
    height: 52px;
    background-color: #edf1f4;
    border-radius: 50%;
    position: relative;
    .user-nav__search-img {
      position: absolute;
      left: 17px;
      top: 15px;
    }
  }
  &__union-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 18px 0 21px;
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 51px;
    position: relative;
    &::after {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #ffffff;
      opacity: 0.4;
      position: absolute;
    }
    .user-nav__union-link {
      position: relative;
      padding-top: 8px;
      .user-nav__union-num {
        position: absolute;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 16px;
        color: $default;
        height: 16px;
        width: 16px;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        top: 3px;
        left: 13px;
      }
    }
  }
  &__link-collage {
    width: 51px;
    height: 52px;
    border-radius: 50%;
    background-color: $bgcol;
    position: relative;
    &-img {
      position: absolute;
      left: 14px;
      top: 14px;
    }
  }
}

.footer__top {
  display: flex;
  border-bottom: 1px solid $bgcol;
  padding: 79px 0 75px;
  &-logo {
    margin-bottom: 15px;
  }
  &-address span,
  &-phone span,
  &-email span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
    color: $link;
  }
  &-contact {
    width: 200px;
    margin-right: 100px;
  }
  &-nav {
    width: 120px;
    margin-right: 180px;
  }
  &-item-form {
    width: 270px;
  }
  &-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    padding: 25px 0 13px;
  }
  &-item-text {
    font-size: 14px;
    line-height: 24px;
    color: $link;
    margin-bottom: 38px;
  }
  &-form {
    display: flex;
    &-input {
      @extend %dmsans-400;
      font-size: 12px;
      color: $default;
      padding: 0px 15px 0px 16px;
      &::placeholder {
        @extend %dmsans-400;
        font-size: 12px;
        color: #234969;
      }
    }
    &-button {
      background-color: $bgcol;
      border: none;
      @extend %dmsans-400;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      padding: 9px 19px 9px 16px;
      cursor: pointer;
    }
  }
}

.footer__top-address span,
.footer__top-address, a {
  line-height: 24px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 39px;
  &-copy {
    font-size: 14px;
    line-height: 32px;
    color: $link;
  }
  &-menu {
    display: flex;
  }
  &-menu-item + .footer__bottom-menu-item {
    padding-left: 28px;
    position: relative;
  }
  &-menu-item + .footer__bottom-menu-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: $link;
    left: 13px;
    top: 7px;
  }
}

.top {
  padding: 35px 0;
  text-align: center;
  background-color: rgba(163, 187, 200, 0.2);
  &__title {
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
}

.top-slider {
  &__inner {
    background-color: #fcd7b6;
  }
  &__item {
    display: flex !important;
    padding: 100px 185px 13px 300px;
  }
  &__content {
    margin-right: 110px;
  }
  &__title {
    max-width: 415px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 30px;
    padding-top: 115px;
  }
  &__text {
    max-width: 360px;
    font-size: 18px;
    color: $accent;
    margin-bottom: 45px;
  }
  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    padding: 25px 100px 21px 27px;
    background-color: $bgcol;
    position: relative;
    &::after {
      content: '';
      width: 22px;
      height: 10px;
      background-image: url('../images/icons/arrow_right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 29px;
      right: 19px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li {
      padding: 0 5px;
      button {
        width: 30px;
        height: 29px;
        opacity: 0.3;
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        @extend %rubik-500;
        font-size: 12px;
        line-height: 12px;
        color: $default;
      }
      &.slick-active {
        button {
          background-color: #ffffff;
          border-radius: 50%;
          opacity: 1;
          color: #243f4d;
        }
      }
    }
  }
}

.info {
  &__inner {
    display: flex;
    justify-content: space-around;
    background-color: rgba(252, 215, 182, 0.2);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 49px 0;
  }
  &__item:nth-child(1) {
    max-width: 570px;
    width: 100%;
  }
  &__item:nth-child(2) {
    max-width: 600px;
    width: 100%;
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      height: calc(100% + 98px);
      background-color: rgba(36, 63, 77, 0.102);
      margin-left: auto;
    }
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      height: calc(100% + 98px);
      background-color: rgba(36, 63, 77, 0.102);
      margin-right: auto;
    }
  }
  &__item:nth-child(3) {
    max-width: 600px;
    width: 100%;
  }
  &__item-content {
    margin-left: 25px;
    margin-top: -14px;
  }
  &__item-title {
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text {
    @extend %dmsans-400;
    color: #585858;
  }
}

.products {
  padding: 75px 0 86px;
  &__filter-btn {
    text-align: center;
    margin-top: 15px;
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 13px;
    @extend %dmsans-700;
    line-height: 1.2;
    color: #8b8b8b;
    transition: all 0.3s;
    &:hover {
      color: #1a1a1a;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-top: 80px;
  }
}

.products-item {
  max-width: 270px;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
  &__img-box {
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    min-width: 167px;
  }
  &__link-box {
    transition: all 0.3s;
    position: absolute;
    width: 167px;
    margin: 0 auto;
    bottom: 12px;
    transform: translateY(300%);
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
  }
  &__link {
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
    padding: 0 8px;
    &:hover {
      background-color: $bgcol;
      path {
        fill: #fff;
      }
    }
  }
   &__title {
    @extend %dmsans-500;
    line-height: 40px;
    color: $default;
  }
  &__price {
    @extend %dmsans-700;
    line-height: 40px;
    color: $bgcol;
    margin-bottom: 25px;
  }
  &:hover {
    .products-item__link-box {
      transform: translateY(0);
    }
  }
}

.news {
  padding-top: 100px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    max-width: 870px;
    width: 100%;
    background-color: rgba(252, 215, 182, 0.4);
    padding-bottom: 85px;
  }
  &__item-img {
    margin-top: -100px;
    margin-right: 30px;
  }
  &__item-content {
    max-width: 330px;
    padding-top: 100px;
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $default;
    margin-bottom: 10px;
  }
  &__item-text {
    margin-bottom: 30px;
  }
  &__item-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    padding: 20px 85px 20px 20px;
    border: 1px solid rgba(67, 99, 114, 0.4);
    border-radius: 5px;
    position: relative;
    &::after {
      content: '';
      width: 22px;
      height: 9px;
      position: absolute;
      background-image: url('../images/icons/arrow_right-2.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      top: 25px;
      right: 20px;
    }
  }
}

.design {
  padding: 100px 0 120px;
  &__items {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
  }
  &__item {
    position: relative;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 1.2;
    color: #1a1a1a;
    max-width: 172px;
    position: absolute;
    left: 38px;
    top: 37px;
  }
  &__type {
    @extend %dmsans-700;
    line-height: 1.2;
    color: $bgcol;
    position: absolute;
    top: 97px;
    left: 38px;
  }
}

.video-popup {
  background-image: url('../images/bg/video-popup-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles {
  padding-top: 115px;
  background: linear-gradient(to bottom, #fff 453px, rgba(252, 215, 182, 0.2) 1px);
  // background-color: rgba(252, 215, 182, 0.2);
  &__top  {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__link {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #262626;
    position: relative;
    padding-right: 25px;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle-right.svg');
      background-repeat: no-repeat;
      width: 7px;
      height: 11px;
      top: 4px;
      right: -0;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
    border-radius: 5px;
    position: relative;
    padding-bottom: 50px;
    background-color: #fff;
  }
  &__item-box {
    padding: 35px 55px 0 31px;
    position: relative;
  }
  &__type {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #a3bbc8;
    border-radius: 15px;
    padding: 5px 31px;
    margin-top: -30px;
    position: absolute;
    top: 15px;
  }
  &__text {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1.2;
    color: #262626;
    padding-bottom: 15px;
  }
  &__info {
    display: flex;
    @extend %rubik-400;
    color: #222933;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 315px;
    padding: 10px 27px 10px 0;
    border-top: 1px solid #e0e0e0;
  }
  &__date {
    margin-left: 7px;
  }
  &__author {
    margin-left: 31px;
  }
}

.partners {
  padding: 90px 0;
  background-color: rgba(252, 215, 182, 0.2);
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.modal {
  padding: 120px 0;
  &__form {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }
  &__label {
    font-size: 14px;
    color: $accent;
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border: 2px solid #f6f6f6;
    padding: 13px 10px;
  }
  &__button {
    @extend %rubik-500;
    font-size: 18px;
    color: #fffefe;
    background-color: #a3bbc8;
    width: 100%;
    border: none;
    padding: 15px 0;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;;
  }
  &__error {
    font-size: 14px;
    color: $accent;
  }
  &__label-center {
    display: block;
    text-align: center;
  }
  &__button-bottom {
    display: block;
    width: 100%;
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    padding: 15px 0;
    border: 2px solid #a3bbc8;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
  }
}

.product-list {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 70px;
  }
  &__title {
    @extend %dmsans-700;
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding-right: 57px;
    margin-bottom: 25px;
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 40px;
      background-color: #a3bbc8;
      top: 13px;
      right: 0;
      border-radius: 1px;
    }
  }
}

.filter-category {
  &__label {
    display: block;
    line-height: 43px;
    cursor: pointer;
    position: relative;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__box {
      background-color: #edf1f4;
    }
  }
  &__box {
    padding: 0 22px 0 15px;
    border-radius: 5px;
  }
  &__checkbox {
    width: 7px;
    height: 10px;
    background-image: url('../images/icons/angle-right.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 22px;
    top: 16px;
  }
  // &__content {
  //   padding: 0 22px 0 15px;
  //   position: absolute;
  //   top: 0;
  //   left: 260px;
  //   width: 270px;
  //   display: none;
  // }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-handle {
  top: 19px;
  width: 16px;
  height: 15px;
  width: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-line {
  top: 25px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 1px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 4px;
  background-color: #a3bbc8;
  border-radius: 0.4px;
}

.filter-brand {
  &__label {
    display: block;
    line-height: 43px;
    position: relative;
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 22px 0 15px;
  }
  &__label-num {
    display: block;
    width: 35px;
    text-align: center;
  }
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 23px;
  }
  &__img {
    width: 71px;
    height: 71px;
    background-color: rgba(255,255,255,0.96);
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  &__title {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 15px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  &__price {
    font-size: 15px;
    line-height: 27px;
    color: #333;
  }
}

.jq-ry-container {
  padding: 0;
}


.product-list {
  &__content {
    width: 100%;
  }
  &__content-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 108px;
    .products-item {
      margin-bottom: 40px;
    }
  }
  &__content-list {
    margin-bottom: 75px;
  }
}

.products-list {
  display: flex;
  margin-bottom: 40px;
  &__img-box {
    max-width: 370px;
    width: 100%;
    height: 501px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.96);
    border: 2px solid #f2f2f2;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    @extend %rubik-400;
    font-size: 40px;
    color: #333;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333;
    margin-top: 20px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__box {
    display: flex;
  }
  &__link {
    transition: all 0.5s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
    & + .products-list__link {
      margin-left: 11px;
    }
    &:hover {
      background-color: #a3bbc8;
      box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
      path {
        fill: #fff;
      }
    }
  }
}

.product-page {
  padding: 120px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @extend %rubik-400;
    font-size: 40px;
    line-height: 46px;
    margin-top: 20px;
    color: #333;
  }
  .star-big {
    margin-top: 18px;
    margin-bottom: 37px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333;
    display: block;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__form {
    margin-bottom: 50px;
  }
  &__input {
    width: 152px;
    height: 53px;
    position: relative;
    border: 1px solid $bgcol;
    margin-right: 15px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 53px;
      background-color: $bgcol;
      top: 0;
      right: 50px;
      z-index: 5;
    }
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 53px;
      background-color: $bgcol;
      left: 50px;
      top: 0px;
      z-index: 5;
    }
  }
  .jq-number.product-page__input {
    border: none;
  }
  .jq-number {
    padding: 0;
  }
  .jq-number__field {
    border: none;
  }
  .jq-number__field input{
    @extend %rubik-400;
    font-size: 15px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
  .jq-number__spin {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-bottom-color: none;
    border-radius: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 9px;
      height: 1px;
      background-color: #000;
      border: none;
    }
  }
  .jq-number__spin.minus {
    position: absolute;
    left: 20px;
  }
  .jq-number__spin.plus {
    position: absolute;
    right: 20px;
    &::before {
      content: '';
      position: absolute;
      right: 4px;
      top: 0px;
      width: 1px;
      height: 9px;
      background-color: #000;
    }
  }
  &__btn {
    height: 53px;
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #ffffff;
    padding: 0 50px;
    cursor: pointer;
  }
  &__list-item {
    display: flex;
  }
  &__list-title {
    margin-right: 5px;
  }
}

.product-slider {
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }
  margin-right: 70px;
  display: flex;
  &__thumb {
    margin-right: 25px;
    width: 138px;
  }
  &__thumb-item {
    width: 138px;
    height: 160px;
    cursor: pointer;
    img {
      width: 138px;
      height: 160px;
      object-fit: cover;
      background-color: rgba(255,255,255,0.96);
      border: 2px solid #f2f2f2; 
    }
  }
  &__big {
    width: 390px;
    height: 530px;
    background-color: rgba(255,255,255,0.96);
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    &__big-item {
      width: 390px;
      height: 530px;
      img {
        width: 390px;
        height: 530px;
        object-fit: cover;
      }
    }
    .slick-slide img {
      margin: 0 auto;
    }
  }
}

.information {
  margin-bottom: 120px;
  &__top {
    text-align: center;
  }
  &__top-item {
    width: 241px;
    height: 53px;
    display: inline-block;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 53px;
    color: $default;
    background-color: #edf1f4;
    border-radius: 5px;
    margin-bottom: 40px;
    & + .information__top-item {
      margin-left: 13px;
    }
  }
  &__top-item--active{
    background-color: $bgcol;
    color: #fff;
  }
  &__content-item {
    display: none;
  }
  &__content-item--active {
    display: block;
  }
}

.related {
  position: relative;
  .title {
    text-align-last: left;
    margin-bottom: 30px;
  }
  &-slider__item {
    padding: 40px 0;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
  }
  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    position: absolute;
    right: 0;
    top: -75px;
    width: 50px;
    height: 50px;
    border: 2px solid #a3bbc8;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }
  .slick-prev.slick-arrow {
    right: 70px;
  }
  .slick-arrow.slick-disabled {
    border: 2px solid #edf1f4;
  }
}

.terms {
  padding-top: 120px;
  &__types,
  &__block {
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  &__list {
    list-style-type: decimal-leading-zero;
  }
  &__list-item {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
