@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {    
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    @extend %rubik-500;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
    margin-left: 12px;
  }
}

.menu {
  &__list {
    display: flex;
    &-item + .menu__list-item {
      margin-left: 35px;
    }
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent; 
  }
}

.user-nav {
  display: flex;
  align-items: center;
  padding: 48px 0 45px;
  &__link-search {
    width: 51px;
    height: 52px;
    background-color: #edf1f4;
    border-radius: 50%;
    position: relative;
    .user-nav__search-img {
      position: absolute;
      left: 17px;
      top: 15px;
    }
  }
  &__union-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 18px 0 21px;
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 51px;
    position: relative;
    &::after {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #ffffff;
      opacity: 0.4;
      position: absolute;
    }
    .user-nav__union-link {
      position: relative;
      padding-top: 8px;
      .user-nav__union-num {
        position: absolute;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 16px;
        color: $default;
        height: 16px;
        width: 16px;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        top: 3px;
        left: 13px;
      }
    }
  }
  &__link-collage {
    width: 51px;
    height: 52px;
    border-radius: 50%;
    background-color: $bgcol;
    position: relative;
    &-img {
      position: absolute;
      left: 14px;
      top: 14px;
    }
  }
}

.footer__top {
  display: flex;
  border-bottom: 1px solid $bgcol;
  padding: 79px 0 75px;
  &-logo {
    margin-bottom: 15px;
  }
  &-address span,
  &-phone span,
  &-email span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
    color: $link;
  }
  &-contact {
    width: 200px;
    margin-right: 100px;
  }
  &-nav {
    width: 120px;
    margin-right: 180px;
  }
  &-item-form {
    width: 270px;
  }
  &-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    padding: 25px 0 13px;
  }
  &-item-text {
    font-size: 14px;
    line-height: 24px;
    color: $link;
    margin-bottom: 38px;
  }
  &-form {
    display: flex;
    &-input {
      @extend %dmsans-400;
      font-size: 12px;
      color: $default;
      padding: 0px 15px 0px 16px;
      &::placeholder {
        @extend %dmsans-400;
        font-size: 12px;
        color: #234969;
      }
    }
    &-button {
      background-color: $bgcol;
      border: none;
      @extend %dmsans-400;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      padding: 9px 19px 9px 16px;
      cursor: pointer;
    }
  }
}

.footer__top-address span,
.footer__top-address, a {
  line-height: 24px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 39px;
  &-copy {
    font-size: 14px;
    line-height: 32px;
    color: $link;
  }
  &-menu {
    display: flex;
  }
  &-menu-item + .footer__bottom-menu-item {
    padding-left: 28px;
    position: relative;
  }
  &-menu-item + .footer__bottom-menu-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: $link;
    left: 13px;
    top: 7px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  &__item {
    display: flex !important;
    padding: 100px 185px 13px 300px;
  }
  &__content {
    margin-right: 110px;
  }
  &__title {
    max-width: 415px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 30px;
    padding-top: 115px;
  }
  &__text {
    max-width: 360px;
    font-size: 18px;
    color: $accent;
    margin-bottom: 45px;
  }
  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    padding: 25px 100px 21px 27px;
    background-color: $bgcol;
    position: relative;
    &::after {
      content: '';
      width: 22px;
      height: 10px;
      background-image: url('../images/icons/arrow_right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 29px;
      right: 19px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li {
      padding: 0 5px;
      button {
        width: 30px;
        height: 29px;
        opacity: 0.3;
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        @extend %rubik-500;
        font-size: 12px;
        line-height: 12px;
        color: $default;
      }
      &.slick-active {
        button {
          background-color: #ffffff;
          border-radius: 50%;
          opacity: 1;
          color: #243f4d;
        }
      }
    }
  }
}

@import 'media';