[33mcommit f95c9464faac7b9cf76ac04f76ffefb4deba933e[m[33m ([m[1;36mHEAD -> [m[1;32mdev[m[33m, [m[1;31morigin/dev[m[33m)[m
Author: ilkin140293 <ilkin-vlad@mail.ru>
Date:   Tue Sep 21 23:21:20 2021 +0500

    added fonts

[33mcommit e64156c7c6129b8fc16e0b5391daf424ad45686b[m[33m ([m[1;31morigin/main[m[33m, [m[1;32mmain[m[33m)[m
Author: ilkin140293 <ilkin-vlad@mail.ru>
Date:   Tue Sep 21 22:51:15 2021 +0500

    first commit
